{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'Project.css'%}">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'Contact1.css'%}">
    <link rel="stylesheet" href="{% static 'Home.css'%}">
    <link rel="stylesheet" href="{% static 'Contact.css'%}">
    <link rel="stylesheet" href="{% static 'Responsive.css'%}">
</head>

<body>
    <div class="hamburg">
    </div>
    <div class="conitener">
        <div class="navbar">
            <ul>
                <li class="link"><a href="#Home"><i class="fa fa-home w3-xxlarge"></i> <br> <span>Home</span></a>
                </li>
                <li class="link"><a href="#About"><i class="fa fa-user w3-xxlarge"></i> <br> <span>About</span></a>
                </li>
                <li class="link"><a href="#Project"><i class="fa fa-eye w3-xxlarge"></i> <br>
                        <span>Project</span></a></li>
                <li class="link"><a href="#Contact"> <i class="fa fa-envelope w3-xxlarge"></i><br><span>
                            Contact</span></a></li>
            </ul>
        </div>
        <div class="container" id="Home">
            <div class="Hero-container">
                {% for roles in roles %}
                <h1>{{roles.heading}}</h1>
                <p>{{ roles.title }}</p>
                {% endfor %}
                <div class="image">
                    <img src="{% static 'Image/sumit.jpg' %}" alt="Sumit">
                </div>
            </div>

            <div class="Contact" id="About">
                {% for about in about %}
                <div class="name">
                    <h1><b><u>{{about.name}}</u></b></h1>
                    <p>{{about.paragraph}}</p> <br> {{about.paragraph1}}
                </div>
                {% endfor %}
                <div class="poll">
                    {% for skill in skill %}
                    <div class="class">
                        <p>{{skill.skillName}}</p>
                        <div class="white" style="height: 28px; background-color: white; ">
                            <div class="dark" style="height:28px; width: {{ skill.skillpercent }}%; background-color: grey;"></div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="project" id="Project" style="margin-left: 2vh;">
                <h1 style="padding-bottom: 18px;"><b><u>Project</u></b></h1>
                <div class="card-coni">
                    {% for project in project %}
                    <div class="card">
                        <div class="image">
                            <img src="{{ project.image.url }}" alt="{{ project.title }}">
                        </div>
                        <div class="content">
                            <a href="{{ project.link }}">
                                <span class="title">{{ project.title }}</span>
                            </a>
                            <p class="desc">{{ project.desc }}</p>
                            <a class="action" href="{{ project.link }}">Find out more</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="contact" id="Contact" style=" margin-left: 2vh;">
                <div class="contact">

                    <h1><b><u>Contact</u></b></h1>
                    <div class="cont-Feild">
                        <div class="icone">
                            <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>
                                {{ contact.location }}</p>
                            <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>
                                {{ contact.phone }}</p>
                            <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i>
                                {{ contact.email }}</p>
                        </div>
                        <p>Let's get in touch. Send me a message.</p>
                        <form>
                            <div class="input">
                                <input type="text" placeholder="Name" required="Name">
                                <input type="text" placeholder="Email" required="Email">
                                <input type="text" placeholder="Subject" required="Subject">
                                <input type="text" placeholder="Message" required="Message">
                                <button style="width: 8rem; height: 3rem;">
                                    <i class="fa fa-paper-plane"></i> Send message
                                </button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>


        <script src="script.js"></script>
</body>

</html>