/* Base Styles */
.Contact {
    background-color: #0b0b0b;
    color: white;
    margin-top: 1rem;
    padding: 0 4.5rem;
    text-align: left;
  }
  
  .Contact .name {
    padding: 0 3rem;
    text-align: justify;
  }
  
  .poll {
    padding: 3rem;
  }
  
  .poll > .class {
    padding-bottom: 20px;
  }
  
  /* Responsive Styles for Mobile Devices */
  @media only screen and (max-width: 768px) {
    .Contact {
      padding: 0 1rem;
      text-align: center;
    }
  
    .Contact .name {
      padding: 0 1rem;
      text-align: center;
    }
  
    .poll {
      padding: 1rem;
    }
  
    .poll > .class {
      padding-bottom: 1rem;
    }
  }
  